/*
------------------  Add Restaurant Form ----------------------
*/
#add_restaurant{
	text-align: center;
	min-width: 600px;
	font-size: 1.2em;
	font-weight: bold;
 	width: 90%;
	background-color: #fff6d5;
	padding: 10px 0px;
 	margin: 10px auto;
	border-radius:30px;
}

#add_restaurant label{
	display: block;
	vertical-align: middle;
	margin: 15px auto;
	box-sizing: border-box;
}

#add_restaurant input{
	text-align: center;
    display: block;
	width: 90%;
	margin: 10PX auto;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid rgb(86, 76, 66);
	border-radius:90px;
}

#add_restaurant img{
	display: inline-block;
	margin: 10px;
}