/*
------------------  Content ----------------------
*/

.restaurant{
	width: 90%;
	background-color: #fff6d5;
	min-width: 600px;
	min-height: 250px;
	padding: 20px 0px;
 	margin: 10px auto;
	border-radius:30px;
}

.restaurant img{
	border: 2px solid rgb(86, 76, 66);
	border-radius:30px;
	margin: 20px 20px;
	float: left;
}

.restaurant p{
	padding: 3px;
}

.restaurant .points{
	font-size: 1.2em;
	font-weight: bolder;
	font-style: italic;
}

.restaurant .place{
	font-size: 1.1em;
}

.restaurant .description{
	font-size: 1em;
}

.restaurant .restaurant_name{
	padding: 0 25px;
	font-family: "Arial";
	width: 100%;
	font-size: 2em;
	font-weight: bolder;
}

.restaurant p{
	margin: 0px 10px;
}


.restaurant ul{
	overflow: hidden;
	clear:left;
	margin: 0 10px;
	padding: 10px 0;
}

.restaurant ul a{
	float:left;
	display: inline-block;
	text-decoration: none;
	background: rgba(86,76,66,1);
	color: white;
    margin: 0 3px;
    padding: 5px;
}
