/*
------------------  Content ----------------------
*/

.restaurant{
	margin: 10px 10px;
}

.restaurant img{
	margin: 10px 10px;
	float: left;
}

.restaurant p{
	padding: 3px;
}

.restaurant .points{
	font-size: 1.2em;
	font-weight: bolder;
	font-style: italic;
}

.restaurant .place{
	font-size: 1.1em;
}

.restaurant .description{
	font-size: 1em;
}

.restaurant h3{
	font-family: "Arial";
	width: 100%;
	font-size: 2em;
	font-weight: bolder;
}

.restaurant p{
	margin: 0px 10px;
}


.restaurant ul{
	overflow: hidden;
	clear:left;
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 1px solid black;
}

.restaurant ul a{
	float:left;
	display: inline-block;
	text-decoration: none;
	background: rgba(86,76,66,1);
	color: white;
    margin: 0 3px;
    padding: 5px;
}
