/*
------------------  Register Form ----------------------
*/
#register{
	text-align: center;
	min-width: 600px;
	font-size: 1.2em;
	font-weight: bold;
 	width: 90%;
	background-color: #fff6d5;
	padding: 10px 0px;
 	margin: 10px auto;
	border-radius:30px;
}

#register label{
	display: block;
	vertical-align: middle;
}

#register input{
	text-align: center;
    display: block;
	width: 90%;
	margin: 10PX auto;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid rgb(86, 76, 66);
	border-radius:90px;
}

#radioButton, #register label{
	margin: 15px auto;
	box-sizing: border-box;
}

#radioButton label{
	background-color: white;
	border: 2px solid rgb(86, 76, 66);
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	overflow: hidden;
	display: inline-block;
	width: 150px;
	margin: 10px 0px;
	padding: 10px;
	border-radius:30px;
}

#radioButton input:checked + label{
  	background-color: pink;
}


#radioButton input{
  	display: none;
}

#register img{
	display: inline-block;
	margin: 10px;
}