/*
------------------  Register Form ----------------------
*/
#search_form{
	text-align: center;
	width: 80%;
	min-width: 600px;
	font-size: 1.2em;
	font-weight: bold;
 	margin: auto auto;
}

#search_form label{
	display: block;
	vertical-align: middle;
	margin: 15px auto;
	box-sizing: border-box;
}

#search_form input{
	text-align: center;
    display: inline-block;
	width: 100%;
	margin: 10PX;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid rgb(86, 76, 66);
	border-radius:90px;
}



#radioButton label{
	background-color: white;
	border: 2px solid rgb(86, 76, 66);
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	overflow: hidden;
	display: inline-block;
	width: 150px;
	margin: 10px 0px;
	padding: 10px;
	border-radius:30px;
}